<html>
        <body>
            <h1>Projects</h1>
            <ul>
                <li><a href="/project/1"></a>Project 1</li>
                <li><a href="/project/2"></a>Project 2</li>
                <li><a href="/project/3"></a>Project 3</li>
            </ul>
            <br>
            <h3>Add project</h3>
            <form action="/add/project" method="POST">
            <div>
                Name: <input type="text" name="project-title"
            </div>
            <br>
            <input type="submit" value="Add project">
        </form>
    </body>
</html>